<div class='space-between mb-4'>
  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name), class:'like-underline' %>
  <% end %>
</div>
