<div class="section">
  <div class="columns is-centered">
    <div class="column is-one-third">
    </div>
    <div class="column is-one-third">
      <% if @user != current_user && !@user.pending_friends.include?(current_user) && !current_user.friends.include?(@user) %>
        <%= button_to 'Add Friend', friendships_path(friendships: { user_id: current_user.id, friend_id: @user.id }) %>
      <% end %>
      <% if false %>
        <%= render 'friends_table' %>
      <% end %>
      <%= render 'profile_info' %>
    </div>
    <div class="column is-one-third">
      <% if @user == current_user %>
          <button class="button accordion">Friend Requests</button>
          <%= render 'shared/people_card', post: @friendships %>
      <% end %>
    </div>
  </div>
</div>