<div class="section">
  <div class="columns is-centered">
    <div class="column is-one-third">
    </div>
    <div class="column is-one-third">
      <% if @user != current_user && !@user.pending_friends.include?(current_user) && !current_user.friends.include?(@user) %>
        <%= button_to 'Add Friend', friendships_path(friendships: { user_id: current_user.id, friend_id: @user.id }) %>
      <% end %>

      <%= render 'friends_table' %>
      <%= render 'profile_info' %>
    </div>
    <div class="column is-one-third">
      <% if @user == current_user %>
        <div class="card">
          <div class="card-header">
            <p class="card-header-title">
              Received Friends
            </p>
          </div>
          <div class="card-content">
            <div class="content">
              <% if @user.received_friends.any? %>
                <h5 class="title is-5">Click name to accept Friend Request</h5> 
                <ul>
                  <% received_not_active_friends(@user).map do |friend| %>
                    <li><%= link_to friend.name, friendships_path(friendships: { user_id: current_user.id, friend_id: friend.id }), method: :post  %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>