<% if flash[:notice] %>
  <div class="container" id='odin-test'>
    <div class="notification is-primary is-light">
      <p class="notice" style='display:flex;justify-content:space-between'>
        <%= notice %>
        <button class="delete" id='flash'></button>
      </p>
    </div>
  </div>
<% end %>

<% if flash[:alert] %>
  <div class="container" id='odin-test'>
    <div class="notification is-danger is-light">
      <p class="notice">
        <%= alert %>
        <button class="delete" id='flash'></button>
      </p>
    </div>
  </div>
<% end %>