<% if flash[:notice] && flash[:notice] != '' %>
  <div class="odin-test">
    <div class="notification is-primary is-light">
      <p class="notice" style='display:flex;justify-content:space-between'>
        <%= notice %>
        <div class="X" id='flash'><i class="fa fa-times" style='font-size:25px'></i></div>
      </p>
    </div>
  </div>
<% end %>

<% if flash[:alert] && flash[:alert] != '' %>
  <div class="container odin-test">
    <div class="notification is-danger is-light">
      <p class="notice">
        <%= alert %>
        <div class="X" id='flash'><i class="fa fa-times" style='font-size:25px'></i></div>
      </p>
    </div>
  </div>
<% end %>