<nav class="navbar is-fixed-bottom has-shadow" style='background-color: rgb(242 233 228 / 66%);'>
  <div class="navbar-brand" style="flex-grow: 1;justify-content:center;">
    <div class="navbar-item" style='opacity:1'>
      <%= link_to("https://github.com/nhleto/Fake-Book") do %>
        <%= image_tag("GitHub-Mark-32px.png", alt: 'githublogo') %>
      <% end %>
    </div>
  </div>
</nav>
