<div class="box has-text-centered" style='background-color:#c9ada7;box-shadow:none;padding-top:0px'>
  <div class="content">
    <button class="button accordion">+ Create a New Group</button>
    <div class="panel group-form" style='position:relative'>
      <%= render "groups_form" %>
    </div>
  </div>
  <% if @groups.any? %>
    <% @groups.each do |group| %>
      <p class='has-text-centered' id='group-name-content'>
        <%= link_to group.name, group_path(group), id: 'group-name-link' %>
      </p>
    <% end %>
  <% end %>
</div>