<div class="section">
  <div class="box">
    <div class="content">
      <button class="button accordion">+ Create a New Group</button>
      <div class="panel">
        <%= render "groups_form" %>
      </div>
    </div>
    <% if @groups.any? %>
      <% @groups.each do |group| %>
        <div class="content">
          <%= link_to group.name, group_path(group) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>