<div class="card like panel2 panel6 panel7" style='position:relative'>
  <div class="card-header">
    <p class="card-header-title" style='display:flex; justify-content:space-between'>
      Likes
      <button class="delete accordion2 accordion6"></button>
    </p>
  </div>
  <div class="card-content" style='border-bottom:1pxdashedlightgray;max-height:250px'>
    <% if post.likes.any? %>
      <% post.likes.each do |like| %>
        <ul class='like-display post-border'>
          <div style='display:inline-flex'>
            <%= image_tag user_avatar(like.user, 50), id: 'like-gravatar' %>
              <span>
                <%= link_to like.user.name, user_path(like.user), class: 'like-underline' %>            
              </span> 
          </div>
          <% if like.user != current_user && !like.user.friendships.include?(current_user) && like.user.received_friends.include?(current_user)%>
            <span>
              <%= button_to 'Already Friends', friendships_path(friendships: { user_id: current_user.id, friend_id: like.user.id }),
                  method: :post, class: 'button is-danger is-small is-inverted', disabled: 'true' %>
            </span>            
          <% elsif like.user != current_user && !like.user.friendships.include?(current_user) %>
            <span>
              <%= button_to 'Add Friend', friendships_path(friendships: { user_id: current_user.id, friend_id: like.user.id }),
                  method: :post, class: 'button is-primary is-small is-light is-outlined' %>
            </span>
          <% end %>
        </ul>
      <% end %>
    <% end %>
  </div>
</div>