<div class="columns is-centered is-mobile">
  <div class="column is-one-quarter-desktop is-one-third-tablet is-one-third-mobile">
    <div class="section" style='position:sticky;top:0px'>
      <%= render 'groups' %>
    </div>
  </div>
  <div class="column is-two-fifths-desktop is-two-thirds-tablet is-two-thirds-mobile">
    <div class="section">
      <%= render '/shared/post' %>
      <p class='mb-6'></p>
      <%= render '/shared/feed', class: 'feed' %>
    </div>
  </div>
  <div class="column is-one-third suggestion-column">
    <div class="section" style='position:sticky;top:-150px'>
      <%= render 'suggestions' %>
    </div>
  </div>
</div>