<div class="columns is-centered">
  <div class="column is-one-third">
    <%= render 'groups' %>
  </div>
  <div class="column is-one-third" id="posts">
    <%= render '/shared/post' %>
    <%= render '/shared/feed', class: 'feed' %>
  </div>
  <div class="column is-one-third">
  </div>
</div>