// var like = document.querySelector("#likes-<%= @post.id %>")
// var button = document.querySelector('.button.post<%= @post.id %>')
// console.log(button)
// button.innerHTML = '<i class="fa fa-heart"><span style="font-family:BlinkMacSystemFont">&#8287Like</span>'
// var elem = "&#8287Like"

// like.insertAdjacentHTML('afterend', elem)
