/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import 'bulma';

 #flash{
  float: right;
}

#odin-test{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.navbar{
  background-color: #f2e9e4;
}
 
a{
  transition-duration: 0.4s;
  color: #4a4e69;
}

a:hover, a:active, u:hover, h2:hover{
  color: #22223b;
}

.bigger{
  height: 150px;
  opacity: 100%;
  transition: .3s;
}

#input-style{
  transition: .3s;
}

.post-feed{
  transition: .3s;
  opacity: 10%;
}

.opaque{
  background-color: rgba(255, 255, 255, 1);
}

.fader{
  transition: .3s;
}

.big-post{
  transition: .3s;
  height: 200px;
}

.faded > *{
  background-color:rgba(255, 255, 255, 0.1);
}

.badge{
  position: absolute;
  font-size: x-small;
  border-radius: 50%;
  padding: 3px 7px;
  background: red;
  color: white;
  top: -1px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

@include until($desktop) {
  .navbar-menu {
    display: block;
    opacity: 0;

    position: absolute;   /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-50%);
    transition: all .4s ease-in-out;
    pointer-events: none;
  }

  .navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}

.hide-flash {
  opacity: 0;
  transition: opacity 0.5s ease;  
}

.people-card{
  position: relative;
  border: 1px solid rgba(219, 219, 219, 0.5);
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: none;
}

@media (max-width: 1200px){
  .suggestion-column { display: none; }
}
 
