/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bulma';

@media only screen and (max-width: 1080px){
  #group-description{
    position: relative;
  }
  #group-columns{
    margin-left: 0;
    margin-right: 0;
  }
  #profile-header, #user-bio, #group-hidden{
    display: none;
  }
  .groups-column, .suggestion-column{
    display: none;
  }
  .sidebar, .sidebar2 {
    color: aliceblue;
    height: 100%;
    position: absolute; 
    width: 250px;
    z-index: -1; 
    top: 0;
    background-color: #111; 
    overflow-x: hidden; 
    padding-top: 60px; 
    transition: opacity .1s cubic-bezier(1, 0.02, 0.97, 1.58);
    transition: .5s ease;
    overflow-y: auto;
    opacity: 0;
  }
  .reveal{
    opacity: 1;
    transition: opacity .3s cubic-bezier(1, 0.02, 0.97, 1.58);
    z-index: 30;
  }
  .sidebar{
    left: 0;
  }
  .sidebar a, .sidebar2 span, .sidebar .title {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: aliceblue;
    transition: 0.3s;
    max-width: 10em;
  }
  .sidebar a{
    display: block;
  }
  .sidebar .title u{
    color: aliceblue;
  }
  .sidebar a:hover, .sidebar .title:hover:first-child {
    background-color: gray;
  }
  .sidebar .closebtn, .sidebar2 .closebtn2 {
    position: absolute;
    top: 0;
    font-size: 36px;
  }
  .sidebar .closebtn{
    right: 25px;
  }
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    color: black;
    padding: 10px 15px;
    border: none;
    width: fit-content;
    font-weight: 600;
    margin: auto;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .openbtn:hover {
    background-color: #444;
  }
}

@media only screen and (min-width: 1080px){
  .nav{
    margin: 0px 100px;
  }
  .sidebar, .sidebar a, .sidebar2, .sidebar2 span,
  .openbtn, .openbtn2, #button-container, .user-pro-bio{
    display: none;
  }
  #edit-pro-box{
    width: 500px;
  }
}

#flash{
  margin-left: auto;
}

.notification{
  display: flex;
  justify-content: space-between;
}

.odin-test{
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 80%;
  max-height: 1000px;
  transition: max-height .2s cubic-bezier(0, 1, 0, 1);
}

.hide-flash {
  opacity: 0;
  margin: 0px auto;
  max-height: 0px;
  overflow: hidden;
}


.navbar{
  background-color: #f2e9e4;
}
 
a{
  transition-duration: 0.4s;
  color: #4a4e69;
}

a:hover, a:active, u:hover, h2:hover{
  color: #22223b;
}

.bigger{
  height: 150px;
  opacity: 100%;
  transition: .3s;
}

#input-style{
  transition: .3s;
}

.post-feed{
  transition: .3s;
  opacity: 10%;
}

.opaque{
  background-color: rgba(255, 255, 255, 1);
}

.fader{
  transition: .3s;
}

.big-post{
  transition: .3s;
  height: 200px;
}

.faded > *{
  background-color:rgba(255, 255, 255, 0.1);
}

.badge{
  position: absolute;
  font-size: x-small;
  border-radius: 50%;
  padding: 3px 7px;
  background: red;
  color: white;
  top: -1px;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0.4);
  }
  70% {
      -webkit-box-shadow: 0 0 0 10px rgba(255,0,0, 0);
  }
  100% {
      -webkit-box-shadow: 0 0 0 0 rgba(255,0,0, 0);
  }
}

@include until($desktop) {
  .navbar-menu {
    display: block;
    opacity: 0;

    position: absolute;   /* or float: left; width: 100%;*/
    left: 0;
    right: 0;

    transform: translateY(-50%);
    transition: all .4s ease-in-out;
    pointer-events: none;
  }

  .navbar-menu.is-active {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }
}

.people-card{
  position: relative;
  border: 1px solid rgba(219, 219, 219, 0.5);
  border-radius: 10px;
  margin-top: 10px;
  box-shadow: none;
}

@media only screen and (max-width: 1200px){
  .suggestion-column { display: none; }
}

@media only screen and (min-width: 1200px){
  .box.sign-in{
    width: 501px;
  }
}

.sign-in-button{
  background-color: #34ab99;
  font-weight: bold;
  color: white;
  width:100%;
}

button.is-google:hover, button.is-github:hover, .sign-in-button:hover{
  transition: .2s;
  opacity: 0.8;
  color: #fff;
}

.text-divider {
  display: flex;
  align-items: center; // align text and lines vertically
}

.text-divider::before,
.text-divider::after {
  content: '';
  height: 1px;
  background-color: silver;
  flex-grow: 1; // both lines will expand to occupy the available space
}

.cut-text {
  $random-text: 'Roundtable';
  position: relative;
  text-transform: uppercase;
  // font-size: $extra-large;
  color: transparent;
  font-weight: 900;
  font-family: 'Catamaran', sans-serif;
  font-style: italic;

  &:after {
    content: $random-text;
    position: absolute;
    left: -10px;
    top: -2px;
    color: #000000;
    $path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
    -webkit-clip-path: $path;
    clip-path: $path;
  }
  
  &:before {
    content: $random-text;
    position: absolute;
    color: #000000;
    $path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
    -webkit-clip-path: $path;
    clip-path: $path;
  }
}