// Place all the styles related to the Groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.break-word{
  word-break: break-all;
}

.group-photo-size{
  border-radius: 10px 10px 0 0;
  border: 2px solid white;
  min-width: 734px;
  max-width: 734px;
  min-height: 500px;
  max-height: 500px;
}

.form-outline.show{
  border-top:1px solid rgba(219, 219, 219, 0.5);
  box-shadow: none;
}