// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_post{
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
}

#input-style{
  border: none;
  resize: none;
  box-shadow: none;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
  height: 190px;
}

.fa.fa-image{
  margin: auto;
  font-size: 25px;
}

button#delete{
  display: none;
  margin: auto;
}

.card input[type=submit]{
  width: 100%;
  background-color: #ebfffc;
}

#submit-button {
  border-color: #93d3ff;
  color: #006b5b;
  box-shadow: 0 0 20px 20px #d8efff inset, 0 0 0 0 #d8efff;
  transition: all 150ms ease-in-out;
}
#submit-button:hover {
  box-shadow: 0 0 5px 0 #d8efff inset, 0 0 5px 4px #d8efff;
  color: #006b5b;
}

.simple_form.search{
  display: flex;
}

.post-border{
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

.post-options{
  display: none;
}

/* Style the element that is used to open and close the accordion class */
.accordion, .accordion1, .accordion2, .accordion6 {
  cursor: pointer;
  transition: 0.4s;
}

/* Style the element that is used for the panel class */

.panel, .panel2, .panel3{
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  position: absolute;
  z-index: 0;
  overflow-y: auto;
}

.panel6, .panel7{
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  position: relative;
  z-index: 0;
}

.panel1, .panel4, .panel5{
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  width: 100%;
}

.panel.show, .panel2.show, .panel3.show, .panel6.show, .panel7.show{
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
  margin-right: 5px;
  display: block;
  visibility: visible;
  // position: relative;
  overflow-y:auto;
  z-index: 2;
}

.panel1.show, .panel4.show, .panel5.show{
  opacity: 1;
  max-height: 500px;
  position: static;
  transition: .4s ease-in-out;
  width: 100%;
}

div.option-icons:hover{
  transition: .3s;
  background-color: rgb(228, 228, 255);
}

button#like-comment{
  width:49%;
  border:none;
  transition: 0.4s ease-in-out;
}

button#like-comment:hover{
  background-color:rgb(199, 199, 199) ;
}
button#like-comment:focus{
  outline: none;
  box-shadow: none;
}

#comment-gravatar{
  border-radius:50%; 
  margin-right:5px; 
  max-height:20px;
  max-width: 20px;
}

.comment-options{
  display: flex;
  float: right;
}

.nested-comment{
  width: 100%;
  transition: .4s ease-in-out;
}

.panel::-webkit-scrollbar-button{
  border-radius: 50%;
}

.panel::-webkit-scrollbar {
  width: 11px;
}

.panel::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.short-likes, .short-comments{
  display: none;
}

.full-likes{
  cursor: pointer;
}

.like-underline:hover{
  text-decoration: underline;
  cursor: pointer;
}

.like-display{
  display: flex;
  justify-content: space-between;
}

.card.like{
  width: 100%;
  left: -.1px;
}

#like-gravatar{
  border-radius:50%; 
  margin-right:5px; 
  max-height: 30px;
  max-width: 30px;
}

#group-name-link{
  color: black;
  font-weight: bold;
}

#group-name-content:hover, .panel.group-form.show{
  transition: .4s;
  border: 1px solid rgba(219, 219, 219, 1);
  border-radius: 10px;
  box-shadow: none;
  background-color: aliceblue;
}

#group-name-content{
  min-height: 35px;
  border-radius: 10px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  word-break: break-all;
}

.group-name-button{
  display:flex;
  justify-content:space-between;
}

.margin-top-bottom{
  margin-top: auto;
  margin-bottom: auto;
}

.space-between{
  display:flex;
  justify-content: space-between;
}

.center{
  display:flex;
  justify-content: center;
}

.form-wrapper{
  position: relative;
  max-width: 0px;
}

.suggestion-card{
  border: 1px solid rgba(219, 219, 219, 0.5);
  border-radius: 10px;
  // height: 200px;
  // width: 150px;
  word-wrap: break-word;
  margin:auto;
  box-shadow: -1px 1em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  background-color: aliceblue;
}

.group .suggestion-card{
  height: 300px;
  width: 225px;
}

.column.is-half img:not(:last-child){
  box-shadow: 3px 1em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}

.media-content img{
  box-shadow: none;
}

.suggestion-card .media-content, .content{
  margin-top: 10px;
}

.suggestion-card input[type=submit]{
  width: 75%;
  margin-bottom: .5rem;
}

.join-group{
  width: 75%;
  margin: auto;
  display: flex;
}

.title .is-4 {
  text-shadow: 1px 1px 1px rgba(10, 10, 10, 0.2);
}

.bio-form, .bio-form.show{
  position:relative;
  display:flex;
  justify-content:center;
  box-shadow:none;
}

#user_bio{
  resize: none;
}

.group-suggestion-wrapper{
  height: 150px;
  width: 223px;
}

#group-suggestion-image{
  box-shadow: 3px 1em 1em -0.125em rgba(10, 10, 10, 0.2), 0 0px 0 1px rgba(10, 10, 10, 0.2);
  border-radius:10px 10px 0 0;
  width: 100%;
  height: 100%;
}
