// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new_post{
  width: 100%;
  margin-bottom: auto;
  margin-top: auto;
}

#input-style{
  border: none;
  resize: none;
  box-shadow: none;
  margin-top: auto;
  margin-bottom: auto;
  overflow: hidden;
}

button#delete{
  display: none;
}

#post-submit{
  display: none;
  width: 100%;
}

.simple_form.search{
  display: flex;
}

.post-border{
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
  margin-bottom: .5rem;
  padding-bottom: .5rem;
}

.post-options{
  display: none;
}

/* Style the element that is used to open and close the accordion class */
p.accordion, button.accordion, div.accordion1 {
  cursor: pointer;
  transition: 0.4s;
}

/* Style the element that is used for the panel class */

div.panel{
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  position: absolute;
  // visibility: hidden;
  z-index: 0;
  overflow: hidden;
  // display: none;
}

div.panel1{
  max-height: 0;
  overflow: hidden;
  transition: 0.4s ease-in-out;
  opacity: 0;
  width: 100%;
}

div.panel.show {
  opacity: 1;
  max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
  margin-right: 5px;
  display: block;
  visibility: visible;
  // position: relative;
  overflow-y:auto;
  z-index: 2;
}

div.panel1.show{
  opacity: 1;
  max-height: 500px;
  position: static;
  transition: .4s ease-in-out;
  width: 100%;
}

div.option-icons:hover{
  transition: .3s;
  background-color: rgb(228, 228, 255);
}

button#like-comment{
  width:50%;
  border:none;
  transition: 0.4s ease-in-out;
}

button#like-comment:hover{
  background-color:rgb(199, 199, 199) ;
}
button#like-comment:focus{
  outline: none;
  box-shadow: none;
}

#comment-gravatar{
  border-radius:50%; 
  margin-right:5px; 
  max-height:20px;
  max-width: 20px;
}

.comment-options{
  display: flex;
  float: right;
}

.nested-comment{
  width: 100%;
  transition: .4s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
  .container {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: rgba(0,0,0,0);
    transition: background-color .8s;
  }
  .container:hover {
    background-color: rgba(0,0,0,0.18);  
  }
  .container::-webkit-scrollbar-thumb {
    background-color: inherit;
  }
}

.panel::-webkit-scrollbar-button{
  border-radius: 50%;
}

.panel::-webkit-scrollbar {
  width: 11px;
}

.panel::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}

.short-likes, .short-comments{
  display: none;
}

@media (max-width: 1200px){
  .short-likes { display: block; }
  .full-likes { display: none; }
}

.full-likes{
  cursor: pointer;
}

.like-underline:hover{
  text-decoration: underline;
}

.like-display{
  display: flex;
  justify-content: space-between;
}

.box.like{
  position: absolute;
  z-index: 2;
  width: 100%;
  left: -.1px;
  display: none;
}